 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/colorful-composition-with-mop-sponges-rags-gloves-detergents-general-cleaning-cleaning-service-concept-background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-text-1 {
  margin: -140px 313px 0 777px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  padding: 2px 17px 3px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 155px auto 0 -24px;
}

.u-section-1 .u-group-1 {
  width: 200px;
  min-height: 28px;
  height: auto;
  margin: 68px auto 0 114px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  width: 141px;
  margin: 2px auto 0 14px;
}

.u-section-1 .u-group-2 {
  width: 200px;
  min-height: 28px;
  height: auto;
  margin: -27px 210px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  width: 141px;
  margin: 2px auto 0 11px;
}

.u-section-1 .u-text-5 {
  margin: -26px 458px 0 auto;
}

.u-section-1 .u-text-6 {
  width: 101px;
  margin: -25px auto 0 -24px;
}

.u-section-1 .u-group-3 {
  width: 200px;
  min-height: 28px;
  height: auto;
  margin: 16px auto 0 116px;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  width: 96px;
  margin: 3px auto 0 12px;
}

.u-section-1 .u-text-8 {
  width: 96px;
  margin: -25px auto 0 -24px;
}

.u-section-1 .u-group-4 {
  width: 200px;
  min-height: 28px;
  height: auto;
  margin: -49px 211px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-10 {
  margin: -3px 515px 0 auto;
}

.u-section-1 .u-group-5 {
  width: 200px;
  min-height: 88px;
  height: auto;
  margin: 19px auto 0 116px;
}

.u-section-1 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-11 {
  width: 96px;
  margin: 8px auto 0 12px;
}

.u-section-1 .u-text-12 {
  width: 82px;
  margin: -88px auto 0 -24px;
}

.u-section-1 .u-group-6 {
  width: 165px;
  min-height: 28px;
  height: auto;
  margin: -21px 241px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin: 0 11px;
}

.u-section-1 .u-text-14 {
  margin: -25px 429px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 16px 496px 0 auto;
}

.u-section-1 .u-text-15 {
  width: 127px;
  margin: -58px auto 0 -24px;
}

.u-section-1 .u-group-7 {
  width: 199px;
  min-height: 27px;
  height: auto;
  margin: -19px auto 0 114px;
}

.u-section-1 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-16 {
  width: 96px;
  margin: 2px auto 0 14px;
}

.u-section-1 .u-group-8 {
  width: 199px;
  min-height: 27px;
  height: auto;
  margin: 10px auto 0 114px;
}

.u-section-1 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-17 {
  margin: 0 auto 0 14px;
}

.u-section-1 .u-text-18 {
  margin: -25px auto 0 -24px;
}

.u-section-1 .u-text-19 {
  font-size: 0.625rem;
  margin: -1px 458px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px 337px 0 auto;
  padding: 4px 18px 4px 17px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -31px 233px 60px auto;
  padding: 4px 18px 4px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -132px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 147px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 29px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -26px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    width: 138px;
    margin-right: 482px;
    margin-left: 439px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 17px;
    height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -26px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    width: 81px;
    margin-top: -6px;
    margin-right: 542px;
    margin-left: 439px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 22px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-14 {
    width: 170px;
    margin-right: 451px;
    margin-left: 439px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-19 {
    margin-top: -51px;
    margin-right: 482px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 74px;
    margin-left: 538px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 289px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 325px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 271px;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-right: 289px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 432px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 244px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 203px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 440px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 217px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 232px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 140px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 137px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 140px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 154px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 175px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 128px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 240px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 137px;
  }
}