 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/colorful-composition-with-mop-sponges-rags-gloves-detergents-general-cleaning-cleaning-service-concept-background.jpg");
  background-position: 50% 50%;
  min-height: 900px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 31px auto 0 calc(((100% - 1140px) / 2) + -26px);
}

.u-section-1 .u-text-2 {
  margin: -34px auto 0 calc(((100% - 1140px) / 2) + 228px);
}


.u-section-1 .u-text-2 {
  margin-top: -30px;
  margin-left: calc(((100% - 1199px) / 2) + 225px);
}

.u-section-1 .u-table-1 {
  width: 1386px;
  margin: 24px auto 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-block-2c30-107 {
  background-image: none;
}

.u-section-1 .u-group-elements-1 {
  width: 80px;
  min-height: 49px;
  margin: -683px calc(((100% - 1140px) / 2) + -92px) 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.800rem;
  margin: 0 25px;
  padding: 14px 30px 11px 19px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 9px 0 0;
  padding: 2px 19px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 24px calc(((100% - 1140px) / 2) + -77px) 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 48px calc(((100% - 1140px) / 2) + -77px) 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 48px calc(((100% - 1140px) / 2) + -77px) 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 48px calc(((100% - 1140px) / 2) + -77px) 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-btn-7 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 53px calc(((100% - 1140px) / 2) + -77px) 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-group-elements-2 {
  width: 80px;
  min-height: 49px;
  margin: 48px calc(((100% - 1140px) / 2) + -92px) 0 auto;
}

.u-section-1 .u-btn-8 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-btn-9 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 9px 0 0;
  padding: 2px 19px;
}

.u-section-1 .u-group-elements-3 {
  width: 80px;
  min-height: 49px;
  margin: 15px calc(((100% - 1140px) / 2) + -92px) 0 auto;
}

.u-section-1 .u-btn-10 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-btn-11 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 9px 0 0;
  padding: 2px 19px;
}

.u-section-1 .u-group-elements-4 {
  width: 80px;
  min-height: 49px;
  margin: 24px calc(((100% - 1140px) / 2) + -91px) 0 auto;
}

.u-section-1 .u-btn-12 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-btn-13 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 9px 0 0;
  padding: 2px 19px;
}

.u-section-1 .u-group-elements-5 {
  width: 80px;
  min-height: 49px;
  margin: 15px calc(((100% - 1140px) / 2) + -92px) 0 auto;
}

.u-section-1 .u-btn-14 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 0 auto;
  padding: 2px 13px 2px 11px;
}

.u-section-1 .u-btn-15 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 9px 0 0;
  padding: 2px 19px;
}

.u-section-1 .u-btn-16 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: -566px calc(((100% - 1140px) / 2) + -92px) 0 auto;
  padding: 2px 19px;
}

.u-section-1 .u-btn-17 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 48px calc(((100% - 1140px) / 2) + -92px) 0 auto;
  padding: 2px 19px;
}

.u-section-1 .u-btn-18 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 48px calc(((100% - 1140px) / 2) + -92px) 0 auto;
  padding: 2px 19px;
}

.u-section-1 .u-btn-19 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 48px calc(((100% - 1140px) / 2) + -92px) 0 auto;
  padding: 2px 19px;
}

.u-section-1 .u-btn-20 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  margin: 53px calc(((100% - 1140px) / 2) + -92px) 0 auto;
  padding: 2px 19px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 947px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1199px) / 2) + -26px);
    width: 139px;
  }

  .u-section-1 .u-table-1 {
    width: calc(((100% - 1199px) / 2) + 1324px);
    margin-right: calc(((100% - 1199px) / 2) + -125px);
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 1199px) / 2) + -77px);
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 1199px) / 2) + -77px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 1199px) / 2) + -77px);
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 1199px) / 2) + -77px);
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 1199px) / 2) + -77px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 1199px) / 2) + -91px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }

  .u-section-1 .u-btn-20 {
    margin-right: calc(((100% - 1199px) / 2) + -92px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 569px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -26px);
  }

  .u-section-1 .u-table-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: calc(((100% - 720px) / 2) + -92px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 720px) / 2) + -92px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: calc(((100% - 720px) / 2) + -92px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 720px) / 2) + -91px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-right: calc(((100% - 720px) / 2) + -92px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-20 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 427px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -26px);
  }

  .u-section-1 .u-table-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: calc(((100% - 540px) / 2) + -92px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 540px) / 2) + -92px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: calc(((100% - 540px) / 2) + -92px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 540px) / 2) + -91px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-right: calc(((100% - 540px) / 2) + -92px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-20 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 269px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -26px);
  }

  .u-section-1 .u-table-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: calc(((100% - 340px) / 2) + -92px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 340px) / 2) + -92px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: calc(((100% - 340px) / 2) + -92px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 340px) / 2) + -91px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-right: calc(((100% - 340px) / 2) + -92px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-20 {
    margin-right: calc(((100% - 340px) / 2));
    
  }

  .masterlist {
    width: 100%;
    border-collapse:separate;
    padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  
  }
  
}
  .table.masterlist th {
    
    text-align: right;
    border-bottom: 10px solid #ffffff;
  }
  
  .table.masterlist th, table.masterlist td {
    padding: 25px;
    
   
  }



