.u-section-1 .u-sheet-1 {
  min-height: 669px;
}

.u-section-1 .u-form-1 {
  height: 500px;
  margin: 45px 570px 60px auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-group-2 {
    margin-right: undefined;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: undefined;
  }

  .u-section-1 .u-form-group-4 {
    margin-right: undefined;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 91px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}