 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/colorful-composition-with-mop-sponges-rags-gloves-detergents-general-cleaning-cleaning-service-concept-background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 670px;
}

.u-section-1 .u-text-1 {
  margin: -139px 153px 0 937px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  background-image: none;
  font-size: 0.875rem;
  padding: 4px 21px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 157px auto 0 -24px;
}

.u-section-1 .u-group-1 {
  width: 200px;
  min-height: 28px;
  height: auto;
  margin: 147px auto 0 114px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  width: 141px;
  margin: 2px auto 0 14px;
}

.u-section-1 .u-text-4 {
  margin: -25px auto 0 -24px;
}

.u-section-1 .u-group-2 {
  width: 200px;
  min-height: 28px;
  height: auto;
  margin: -25px 125px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  width: 141px;
  margin: 2px auto 0 11px;
}

.u-section-1 .u-text-6 {
  margin: -26px 365px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 14px 422px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 200px;
  min-height: 28px;
  height: auto;
  margin: -23px 125px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: 0 auto 0 11px;
}

.u-section-1 .u-group-4 {
  width: 200px;
  min-height: 28px;
  height: auto;
  margin: -28px auto 0 116px;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  width: 96px;
  margin: 3px auto 0 12px;
}

.u-section-1 .u-text-10 {
  margin: -26px auto 0 -24px;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0 -24px;
}

.u-section-1 .u-group-5 {
  width: 200px;
  min-height: 88px;
  height: auto;
  margin: -25px auto 0 116px;
}

.u-section-1 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-12 {
  width: 96px;
  margin: 8px auto 0 12px;
}

.u-section-1 .u-group-6 {
  width: 165px;
  min-height: 28px;
  height: auto;
  margin: -87px 157px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin: 0 11px;
}

.u-section-1 .u-text-14 {
  margin: -27px 333px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 32px 413px 0 auto;
}

.u-section-1 .u-text-15 {
  margin: -54px auto 0 -25px;
}

.u-section-1 .u-text-16 {
  margin: -20px auto 0 -25px;
}

.u-section-1 .u-group-7 {
  width: 199px;
  min-height: 27px;
  height: auto;
  margin: -30px auto 0 114px;
}

.u-section-1 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-17 {
  width: 96px;
  margin: 2px auto 0 14px;
}

.u-section-1 .u-group-8 {
  width: 199px;
  min-height: 27px;
  height: auto;
  margin: -24px auto 0 114px;
}

.u-section-1 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-18 {
  margin: 0 auto 0 14px;
}

.u-section-1 .u-text-19 {
  font-size: 0.625rem;
  margin: 24px 351px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 45px 248px 0 auto;
  padding: 4px 18px 4px 17px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -30px 144px 60px auto;
  padding: 4px 18px 4px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 386px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -368px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 29px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    width: 101px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    width: 138px;
    margin-left: 439px;
  }

  .u-section-1 .u-text-7 {
    width: 81px;
    margin-top: 12px;
    margin-right: 444px;
    margin-left: 439px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -22px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    width: 96px;
  }

  .u-section-1 .u-text-11 {
    width: 82px;
    margin-top: 13px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-14 {
    width: 170px;
    margin-top: -26px;
    margin-left: 439px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-15 {
    width: 127px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -67px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 17px;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    margin-top: -71px;
    height: auto;
  }

  .u-section-1 .u-text-19 {
    margin-top: -113px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 698px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 219px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 267px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 200px;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-right: 211px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 431px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 231px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 126px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 94px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 240px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 99px;
  }
}